
body {
    background-color: #082943;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
    font-size: 22px;
    line-height: 25px;
    padding-left:  20px;
    padding-right: 20px;
}

/* Setting Backgrounds images per page */

body.edu_bg {
    background-image: url("images/michigan.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
}

body.navy_bg {
    background-image: url("images/navy_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    position: relative;
} 

p {
    display: block;
    position: relative;
    text-align: left;
    color: aliceblue;
}

a{
    text-decoration: none;
    color: gold;
}

a:active, a:hover{
    border-bottom: 2.5px solid gold;
}



.header {
    padding-bottom: 25px;
    display: block;
    background-color: #082943;
}

.header img {
    height: 30vh;
    width: 35vh;
}

.h_brian {
    display: block;
    font-size: 26px;
    position: relative;
    padding-top: 5px;
    color: aliceblue;
}

.h_intro {
    margin: 0 auto; /* makes the div centered */
    width: 65%;
    font-size: 4vmin;
    font-weight: normal;
    font-family: fantasy;
    padding: 5vh;
    background-color: lemonchiffon;
    box-shadow: 5px 5px #888888;
}

.h_general {
    display: block;
    font-family: 'Gentium Basic', serif;
    margin: 2% auto; /* makes the div centered */    
    width: 80%;
    font-size: 5vmin;
    padding: 2%;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    background-color: lemonchiffon;
    box-shadow: 5px 5px #888888;
}

.current{
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px goldenrod;
    color: white;
}

.current img {
    width: 3vh;
    height: 2vh;
}

.navy_container {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr;
    align-items: center;
}

.navy_container img{
    width: 35vh;
    height: 35vh;
    align-self: center;
    justify-self: center;
}

.container_flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

.container_flexbox img{
    width: 50vmin;
    height: 35vmin;
}

.container_grid {
    display: grid;
    padding-top: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
    align-items: center;
}

.container_grid img{
    width:100%;
    align-self: stretch;
}

a.pics:active, a.pics:hover{
    position: relative;
    width: 90%;
    border-radius: 5%;
    border: 4px double gold;
    cursor: zoom-in;
    padding: 5%;
}

a.skip{
	position: absolute;
	left: -99999px;
    top: 0px;
    display: block;
}

a.skip:focus{
	position: relative;
    left: 0px;
    width: 15%;
    margin: 0 auto;
}

.p_general{
    margin: 0 auto; /* makes the div centered */
    width: 80%;
    padding: 3vmin;
    color: aliceblue;
    box-shadow: 2px 2px #888888;
}

p.p_general::first-letter {
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    font-size: 150%;
}

.p_index {
    margin: 0 auto; /* makes the div centered */
    width: 75%;
    text-align: center;
    color: aliceblue;
}

.p_title {
    margin: 0 auto; /* makes the div centered */
    margin-top: 2.5%;
    width: 75%;
    text-decoration: underline;
    color: aliceblue;
}

.ul_edu{
    margin: 0 auto;
    padding-bottom: 2%;
    width: 80%;
    text-align: center;
    /* font-style: italic; */
    font-weight: bold;
    color: aliceblue;
    box-shadow: 2px 2px #888888;
}

.li_edu {
    margin: 0 auto; /* makes the div centered */
    width: 78%;
    text-align: left;
    list-style-type: square;
    font-style: normal;
    font-weight: normal;
    color: aliceblue;
}

.p_contact {
    margin: 0 auto; /* makes the div centered */
    width: 75%;
    padding-bottom: 15px;
    text-align: center;
    color: aliceblue;
}

.p_links {
    font-size: 8vmin;
    margin: 0 auto; /* makes the div centered */
    width: 70%;
    padding: 10vmin;
    text-align: center;
    color: aliceblue;
}

.p_links img {
    align-self: center;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

ul li {
    margin-left: 4%; 
}

.p_edu {
    padding-left: 2%;
    text-decoration: underline;
}

.foot {
    padding: 15px;
}

.div_form {
    color: aliceblue;
}

@media only screen and (min-width: 700px) {
    .container_grid{
    grid-template-columns: 2fr 2fr 2fr 1.5fr;
    }
}

@media only screen and (max-width: 415px){
    body {
        font-size: 82%;
    }
}
}